@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  &__display-picture {
    border-radius: 50%;
    background-image: url("../../assets/images/img.jpg");
    min-width: 3rem;
    height: 3rem;
    background-size: cover;
    @include tablet {
      display: none;
    }
  }
  &__search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      width: 100%;
      justify-content: flex-end;
    }
  }
  &__search-bar {
    font-size: 1rem;
    font-family: "Alegreya Sans";
    padding: 0.5rem;
    margin-right: 1rem;
    flex-grow: 1;
    border: solid $mercury 2px;
    border-radius: 5px;
    background: url("../../assets/images/icons/search.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-position-x: 1rem;
    padding-left: 3rem;
    outline: none;
    background-color: $alabaster;
    max-height: 2.5rem;
    align-self: center;
    &::placeholder {
      color: $black;
    }
    &:focus {
      border: solid #d34a45 2px;
    }
    @include tablet {
      max-width: 20rem;
      max-height: 3rem;
    }
  }
}
