@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videos-panel {
  &__item-container {
    height: 5rem;
    display: flex;
    overflow: hidden;
    &:hover {
      color: $red-velvet;
      cursor: pointer;
    }
  }
  &__item-subcontainer {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include desktop {
      width: 13rem;
    }
  }
  &__video-title {
    font-weight: 600;
  }
  &__img {
    height: 100%;
    border-radius: 5px;
    width: 8.8rem;
  }
}
